*.pyc
*.pyo
*.pyd
__pycache__/

env/
.venv/
venv/

*.log
*.out
*.bak

*.csv
*.tsv
*.zip
*.tar
*.tar.gz
*.rar
*.7z
datasets/
data/

*.h5
*.hdf5
*.ckpt
*.pt
*.pth
*.joblib
*.sav

.ipynb_checkpoints/

catboost_info/

.DS_Store
Thumbs.db

.vscode/
.idea/

.env
